@inherits LayoutComponentBase

<header>
    <img src="https://ratiopharm.es/sites/default/files/styles/medio_16_9/public/2020-10/Concienciar-desde-la-farmacia-sobre-el-lavado-de-manos-por-qu%C3%A9-es-tan-importante.jpg?itok=D1Fg6qUt" alt="">
    <img src="https://img.freepik.com/vector-gratis/prevencion-coronavirus-covid-al-estornudar-cubrir-boca_24640-61565.jpg?size=626&ext=jpg" alt="">
    <img src="http://www.ucm.edu.co/covid-19/wp-content/uploads/2020/04/comousar.jpg" alt="">
    <img src="https://image.freepik.com/vector-gratis/fondo-personaje-doctor_1270-84.jpg" alt="">
</header>

<div class="container cuerpo-back rounded-lg">
      @Body
</div>
